<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ source }} - {{ time }}</title>
        <style>
            body,h2 {font-family:'Georgia',serif;}
            .l {font-size:small;text-decoration:none}
            hr {border:none;height:1px;background-color:#ddd;}
        </style>
        <script>function s(h){location.hash="#"+h};</script>
    </head>

    <body>
        {% if isindex %}
            <p><a href="tagesanzeiger.ch"/>tagi</a> <a href="limmattalerzeitung.ch">liz</a> <a href="rockpapershotgun.com"/>rps</a> <a href="vice.com"/>vice</a></p>
        {% endif %}

        {% if latest_buzz_list %}
            {% for buzz in latest_buzz_list %}
                <h2 id="{{ forloop.counter0 }}">
                    {{ buzz.title }}
                </h2>
                <div class="l">
                    <a class="l" href="{{ buzz.url }}">{{ buzz.source }}</a> {{ buzz.date }}
                </div>
                <div onclick="s('{{ forloop.counter }}');">
                    {% if buzz.blurb %}<p><em>{{ buzz.blurb }}</em></p>{% endif %}
                    {% autoescape off %}{{ buzz.content }}{% endautoescape %}
                <hr/>
                </div>
            {% endfor %}
        {% else %}
            <p>No buzz is available :'(</p>
        {% endif %}
    </body>
</html>
